<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        <header class="card">
            <a id="head" href="{{ path('app_main') }}">
                <div class="card-header" id="header">
                    <img src="{{ asset('img/logo.png') }}" alt="">
                    <h1>Bucket-List</h1>
                </div>
            </a>

            <nav class="navbar">
                <div class="navbar-toggle" id="navbar-toggle">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <ul class="navbar-menu" id="navbar-menu">
                    <li><a href="{{ path('app_main') }}">Home</a></li>
                    <li><a href="{{ path('app_about') }}">About</a></li>
                    <li><a href="{{ path('app_wish_list') }}">Wishes</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app_wish_create') }}">Create</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED') %}
                        <li><a href="{{ path('app_profile', {'id': app.user.id}) }}">Profile</a></li>
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Login</a></li>
                        <li><a href="{{ path('app_register') }}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div id="div-body">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div id="confirm" class="alert-base alert alert-{{ label }}"> {{ message }} </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        <footer>© Bucket-List - {{ "now"|date("Y") }}</footer>

        <script>
            document.getElementById('navbar-toggle').addEventListener('click', function() {
                this.classList.toggle('active');
            });
        </script>
    </body>
</html>
